<%- include("partials/header.ejs") %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/main.css">
        <title>To do list</title>
    </head>

    <body>

        <div class="item container">
            <h1>
                <%= currentDay %>, <%= currentMonth %>
                        <%= currentDate %>
            </h1>
        </div>
        <div class="main">
            <div class="container">
                <% for(var i=0; i < newList2.length; i++) { %>
                    <form action="/deleteW" method="post">
                        <div class="item">
                            <input type="checkbox" name="checkbox" value="<%=newList2[i]._id%>" class="check"
                                onChange="this.form.submit()">
                            <p>
                                <%= newList2[i].name %>
                            </p>

                        </div>
                    </form>
                    <% } %>
                        <form action="/work" method="post">
                            <div class="form-container ">
                                <div class="input-container">
                                    <input class="input" type="text" name="itemW" placeholder="New Item"
                                        autocomplete="off">
                                    <button class="button" type="submit" name="button">+</button>
                                </div>

                        </form>                        
            </div>
        </div>
        <footer>
            Copyright © prajna vegi
        </footer>
    </body>

    </html>